<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="-0.0598915 -0.275877 0.691248" rpy="1.61628 -3.07988 -1.49067" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="key_lock_broadcaster"
      args="0.0203707 -0.24036 0.1   0.968867 0.247583 0 0 base_link key_lock" />
</launch>
